{% extends "Carriers/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <h1>Home page</h1>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Check your 16 personalities result</legend>
                {{ form|crispy }}
            </fieldset>
            <p>Не сте правили теста 16personalities?</p>
            <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Вижте професии</button>
            </div>
            <a href="https://16personalities.com"> Можете да го направите тук.</a>
        </form>

        <div class="wraper">
          <div class="left profesion-bubbles"> Бизнес и предприемачество </div>
          <div class="right profesion-bubbles"> STEM </div>
          <div class="left profesion-bubbles"> Изкуства </div>
          <div class="right profesion-bubbles"> Медицина </div>
        </div>
    </div>


{% endblock content %}
