{% extends "Carriers/base.html" %}
{%load static%}
{% block content%}
    {%for profession in professions%}
    {%if type in profession.tags%} 
            <div class="card bg-dark text-black">
                <!<img class="card-img" src="{% static "Carriers/{{profession.name}}/image.jpg"%}" alt="Card image">
                <div class="card-img-overlay">
                    <h3 class="card-title"><a href="career_detail/{{profession.name}}">{{profession.name}}</a></h3>
                    <p class="card-text">{{profession.description}}</p>
                </div>
            </div>
    {%endif%}
    <br>
    {%endfor%}
{%endblock%}