div.column-left {
    display: block;
    width: 100%;
}
div.column-right {
    margin-top: 5%;
    width: 100%;
    display: block;
    margin-top:5vh;
}
.cm-3 {
    width: 100%;
    padding: 0% 1%;
    height: 60vh;
    background-color: #ffa31a ;
    border: 1px solid #ffa31a;
    /*border-radius: calc(5px + 2vw);*/
    text-align: center;
}
.full-width {
    margin-top: 20vh;
}
@media only screen and (min-width: 1100px) {
    div.column-left {
        display: inline-block;
        max-width: 40%;
    }
    div.column-right {
        display: inline-block;
        max-width: 40%;
        float: right;
    }
    .cm-3 {
        display:inline-block;
        max-width: 25%;
        margin: 0% 2.5%;
    }
    .full-width {
        margin-left: -21%;
        margin-right: -21%;
    }
}
.homeimg {
    max-width: 100%;
}
.submit-code {
    padding: 3% 10%;
    background-color: #e68a00;
    outline: 5px solid #ffa31a;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: calc(10px + 0.5vw);
    display:block;

}
.submit-code:hover {
    padding: 3% 10%;
    background-color: #ffa31a;
    outline: 5px solid #ffa31a;
    border: none;
    float: left;
}
.submit-code:focus {
    padding: 3% 10%;
    background-color: #c57f15;
    outline: none;
    border: none;
    float: left;
}

.home-input {
    /*padding: 5% 20%;*/
    margin-top: 0.5%;
    border: none;
    border-bottom: 2px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 43px;
    font-weight: bold;
    color: black;
    width: 100%;
}

@keyframes codeinput {
    0% {
        transfrom: scaleX(0.50);
    }
    25% { 
        transform: scaleX(0.75);
    }
    100% {
        transform: scaleX(1);    
    }
}
.form-input input:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #e68a00;
    font-size: 43px;
    font-weight: bold;
    color: black;
    animation-name: codeinput;
    animation-duration: 1s;
}